html{
  background: lightgrey;
  font-size: 2rem;
  text-align: center;
}

body{

}

.clock{
  height: 14rem;
  width: 14rem;
  border: 30px solid black;
  border-radius: 50%;
  position: relative;
  margin: 50px auto;
  padding: 20px;

}

.clock-face{
  height: 100%;
  width: 100%;
  position: relative;
  transform: translateY(-3px);
  border: 5px solid black;
  border-radius: 50%;
}


.hand{
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
